@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap");
:root {
  --Light-blue-light-blue-100: #f3f5fc;
  --Dark-blue-dark-blue-300: #0a3871;
  --White: #fff;
  --Light-gray: #d8dfe8;
  --Gray-gray-400: #495057;
}
/* Ajustes da pagina */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Light-blue-light-blue-100);
}
/* Classes */
/* Header */
.header__logo {
  padding: 40px 0px 0px 40px;
}
/* Main */
.container__content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}
.container__input__block {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input__text {
  height: 100%;
  resize: none;
  border-width: 0px;
  padding: 0px 0px 0px 10px;
  background-color: transparent;
  color: var(--Dark-blue-dark-blue-300);
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.input__text:focus {
  outline: none;
}
.result__text {
  width: 400px;
  height: 944px;
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--White);
  resize: none;
  padding: 25px 25px;
  color: var(--Dark-blue-dark-blue-300);
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.result__text:focus {
  outline: none;
}
/* Actions */
.content__actions {
  flex-direction: column;
  display: flex;
  align-self: center;
}
.content__warning__text {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--Gray-gray-400);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  margin-bottom: 16px;
}
.btn {
  display: flex;
  gap: 24px;
}
.btn__cript {
  text-align: center;
  width: 328px;
  padding: 24px;
  border-radius: 24px;
  background: var(--Dark-blue-dark-blue-300);

  color: var(--White);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity 0.3s ease-in-out;
}
.btn__decript {
  text-align: center;
  width: 328px;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid var(--Dark-blue-dark-blue-300);
  background: var(--Light-gray);

  color: var(--Dark-blue-dark-blue-300);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity 0.3s ease-in-out;
}

/* Footer */
.footer {
  background-color: var(--Dark-blue-dark-blue-300);
  color: var(--Light-blue-light-blue-100);
  text-align: center;
  padding: 24px;
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
